doctype html
html
  head
    title Simple 12 columns grid
    link( rel="stylesheet" href="/style.css" )

  body
    .container
      h1  Simple 12 columns grid
      
      p .row
      .row
        .col-1.box .col-1
        .col-11.box .col-11
        .col-2.box .col-2
        .col-10.box .col-10
        .col-3.box .col-3
        .col-9.box .col-9
        .col-4.box .col-4
        .col-8.box .col-8
        .col-5.box .col-5
        .col-7.box .col-7
        .col-6.box .col-6
        .col-6.box .col-6
        .col-12.box .col-12
        
      p .row
      .row
        .col-4.md-col-6.sm-col-12.box .col-4.md-col-6.sm-col-12
        .col-4.md-col-6.sm-col-12.box .col-4.md-col-6.sm-col-12
        .col-4.md-col-12.sm-col-12.box .col-4.md-col-6.sm-col-12
        
      p .row.fluid
      .row.fluid
        .col-2.box .col-2
        .col-2.box .col-2
        .col-2.box .col-2
        .col-2.box .col-2
        .col-2.box .col-2
        .col-2.box .col-2

     
      