@import 'normalize';
@import 'columns';

// DEMO CSS

// Colors
$primary: #32e0c4;
$dark: #393e46;
$black: #222831;

* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  background: $black;
  color: $primary;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1.5rem;
}

.box {
  display: block;
  background: $dark;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 3px;
}